.create-guest {
    padding: 20px;
    max-width: 600px;
    margin: 2% auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    background: #1e1e1e;
    border: 1px solid #444;
    color: #f1f1f1;
    position: relative;
  }
  
  .create-guest h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ddd7d2;
  }
  
  .create-guest-form {
    background-color: rgba(0, 0, 0, 0.192);
  }
  
  .create-guest-div {
    margin-bottom: 15px;
  }
  
  .create-guest-label {
    display: block;
    color: #ddd;
    margin-bottom: 5px;
    font-size: 2rem;
  }
  
  .create-guest-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #333;
    border: 1px solid #555;
    border-radius: 4px;
    color: #f1f1f1;
  }
  
  .create-guest-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .create-guest-button:hover {
    background-color: #555;
  }
  
  .success-msg {
    color: #2ecc71;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .error-message {
    color: #ff4c4c;
    font-size: 14px;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #f5f5f5;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .close-button:hover {
    transform: scale(1.2);
    color: #7e7975;
  }
  
  /* רספונסיביות */
  @media (max-width: 480px) {
    .create-guest {
      max-width: 95%;
      padding: 10px;
      margin: 5% auto;
    }
  
    .create-guest h2 {
      font-size: 2rem;
    }
  
    .create-guest-input {
      font-size: 16px;
      padding: 8px;
    }
  
    .create-guest-button {
      font-size: 16px;
      padding: 8px;
    }
  }
  
  /* סידור שדות רכב */
  .vehicle-fields {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  /* כפתור הסרת רכב */
  .remove-vehicle-btn {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .remove-vehicle-btn:hover {
    background-color: #e74c3c;
  }
  