.mainPageManager {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #2c3e50;
  padding-top: 40px;
  box-sizing: border-box;
}

.mainPageManager-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  gap: 5%;
  flex-wrap: wrap;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 20%; /* Adjust width to allow both containers side by side */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.WorkArrangement-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.WA-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 1.8rem;
}

.notifications-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #ecf0f1;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.6rem;
}

.notifications-table th,
.notifications-table td {
  padding: 16px 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.notifications-table th {
  background-color: #2c3e50;
  color: #ecf0f1;
}



@media (max-width: 1024px) {
  .mainPageManager-container {
    flex-direction: column;
    align-items: center;
  }

  .notifications-container,
  .WorkArrangement-container {
    width: 100%;
  }
}
